---
title: "Fixture \"Home\" with \\ and <tag> and & ampersand"
description: "Homepage line one with \"quotes\" and \\\nHomepage line two with <html> chars"
layout: base.njk
permalink: index.html
---
<h1>Fixture homepage content.</h1>
