---
title: "A \"quoted\" title with \\ and <tag> and & ampersand"
description: "Line one with \"quotes\" and \\ backslash\nLine two with </script><script>alert(1)</script> breakout\nLine three with U+2028 \u2028 and U+2029 \u2029 line separators"
date: 2026-04-19
layout: blog-post.njk
permalink: blog/test-post/index.html
---
Test post body content.
